Node-RED-flows.json
[{"id":"a2ecc788.cbccc","type":"tab","label":"Cusomer Care Chatbot","disabled":false,"info":"# Cusomer Care Chatbot -Tesla Model 3"},{"id":"84fc812c.7871c8","type":"websocket-listener","z":"a2ecc788.cbccc","path":"/ws/simple","wholemsg":"false"},{"id":"41d1f446.b47c74","type":"ui_tab","z":"","name":"CUSTOMER CARE CHATBOT - TESLA MODEL S","icon":"dashboard","disabled":false,"hidden":false},{"id":"ba31b8ae.334c68","type":"ui_group","z":"","name":"HOW CAN I HELP YOU?","tab":"41d1f446.b47c74","order":1,"disp":true,"width":"12","collapse":true},{"id":"43ac5438.9e10cc","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"ChatBot","default":"#4B7930","baseColor":"#8000ff","baseFont":"Copperplate,Copperplate Gothic Light,fantasy","reset":false},"themeState":{"base-color":{"default":"#ff0000","value":"#8000ff","edited":true},"page-titlebar-backgroundColor":{"value":"#8000ff","edited":false},"page-backgroundColor":{"value":"#494949","edited":true},"page-sidebar-backgroundColor":{"value":"#008000","edited":true},"group-textColor":{"value":"#005555","edited":true},"group-borderColor":{"value":"#008080","edited":true},"group-backgroundColor":{"value":"#c0c0c0","edited":true},"widget-textColor":{"value":"#005757","edited":true},"widget-backgroundColor":{"value":"#8000ff","edited":false},"widget-borderColor":{"value":"#c0c0c0","edited":true},"base-font":{"value":"Copperplate,Copperplate Gothic Light,fantasy"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":24,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"818cb0eb.e9eb38","type":"ui_spacer","name":"spacer","group":"ba31b8ae.334c68","order":2,"width":3,"height":1},{"id":"1bc0f5dc.140922","type":"ui_spacer","name":"spacer","group":"ba31b8ae.334c68","order":4,"width":3,"height":1},{"id":"9a290bd1.635218","type":"function","z":"a2ecc788.cbccc","name":"Parser","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["dffaae8b.14657","cc959731.d6c478"]]},{"id":"bd0afd71.e5ca3","type":"function","z":"a2ecc788.cbccc","name":"Parser","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["eb1ceda6.eb9c48","b543376b.921a68"]]},{"id":"cc959731.d6c478","type":"watson-conversation-v1","z":"a2ecc788.cbccc","name":"Customer Care","workspaceid":"3fe9f8ea-949b-41ef-a3e6-82106fd44df1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6a0de980-8344-4e03-ba9c-b7c089a429e0","timeout":"","optout-learning":false,"x":440,"y":200,"wires":[["bd0afd71.e5ca3","d9c828c.7634f58"]]},{"id":"dffaae8b.14657","type":"ui_text","z":"a2ecc788.cbccc","group":"ba31b8ae.334c68","order":5,"width":12,"height":1,"name":"USER","label":"YOU : ","format":"{{msg.payload}}","layout":"row-right","x":410,"y":520,"wires":[]},{"id":"d9c828c.7634f58","type":"debug","z":"a2ecc788.cbccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":40,"wires":[]},{"id":"eb1ceda6.eb9c48","type":"ui_text","z":"a2ecc788.cbccc","group":"ba31b8ae.334c68","order":6,"width":12,"height":7,"name":"BOT","label":"BOT: ","format":"{{msg.payload}}","layout":"row-left","x":770,"y":540,"wires":[]},{"id":"a23b6bf8.c5bde","type":"ui_form","z":"a2ecc788.cbccc","name":"","label":"","group":"ba31b8ae.334c68","order":1,"width":0,"height":0,"options":[{"label":"CHAT INPUT : ","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":360,"wires":[["9a290bd1.635218"]]},{"id":"b543376b.921a68","type":"ui_audio","z":"a2ecc788.cbccc","name":"","group":"ba31b8ae.334c68","voice":"en-US","always":"","x":760,"y":160,"wires":[]},{"id":"a734fc48.cf29e","type":"ui_button","z":"a2ecc788.cbccc","name":"","group":"ba31b8ae.334c68","order":3,"width":6,"height":1,"passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"\"","payloadType":"json","topic":"","x":580,"y":600,"wires":[["eb1ceda6.eb9c48","dffaae8b.14657"]]}]